

html{
    font-family: monospace;
    
}

body {
    background-color: #895129;
}

.bungkus a {
    color: black;
    font-size: 1.3rem;
}

.container-l{
    background-image: url(imgprofile/background.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20rem;
    padding-bottom: 30rem;
}

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15%;
}


.logo {
    width: 30%;
    height: 30%;
}

.textV {
    font-size: 3rem;
    color:white;
}

.profile p {
    font-size: 1.5rem;
    text-align: justify;
}

.boxcard {
    padding: 3rem;
    text-align: center;
}

@media screen and (max-width: 720px){
    .logo {
        width: 30%;
        height: 30%;
    }

    .container-l{
        background-image: url(imgbg/bg.jpg) ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10rem;
        padding-bottom: 15rem;
    }

    .container-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -16%;
    }

    .profile p {
    font-size: 1.3rem;
    text-align: justify;
    }

    .textV {
        font-size: 1.7rem;
        color:white;
    }
}
